head
  title= title
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="/_css/bootstrap.min.css", media="screen")
  link(rel='stylesheet', type="text/css", href='/_css/style.css', media="secreen")
