head
  title talentBot.co
  link(rel='stylesheet', type='text/css', href='_css/style.css')
  link(href='http://fonts.googleapis.com/css?family=Dosis:200', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet', type='text/css')
  link(href='http://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
  script(type='text/javascript')
    stLight.options({publisher: "ur-cb388504-ac6d-94ca-99b3-7976bc6a12cf", doNotHash: false, doNotCopy: false, hashAddressBar: false});
  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='_js/Chart.min.js')
  block addToHead
