#header
  #navbar
    nav
      ul#nav
        li#account_link
          a(href='#') Account
            span.arrow_box
          ul.acct_dropdown
            li
              a(href="#") Account Settings
            li
              a(href="#") Privacy Settings
            li
              a(href="#") Sign Out
        li
          a(href="#") Messages
        block addToList
    h1.brand
      | scout
      span.color Bot
      | .co
