extends layout

block addToHead
  script(src="_js/metrics.js")
block addToList
  li
    a(href="/") Back

block bodyContent
  #mainwrap
    #wrappershadow
      #wrapper
        header
        #container
          #book_1
            h1 As the Rain Falls
            .chart_metric
              canvas#rainFallsChart(width='400', height='300')
            .card_metric
              canvas#rainFallsCards(width='400', height='300')
          .newBook
            h1 Ghostwriter
            .chart_metric
              canvas#ghostwriterChart(width='400', height='300')
            .card_metric
              canvas#ghostwriterCards(width='400', height='300')
          .newBook
            h1 Inquest
            .chart_metric
              canvas#inquestChart(width='400', height='300')
            .card_metric
              canvas#inquestCards(width='400', height='300')
          .newBook
            h1 Reality is Leaking
            .chart_metric
              canvas#realityLeakingChart(width='400', height='300')
            .card_metric
              canvas#realityLeakingCards(width='400', height='300')
          .newBook
            h1 Jaded Hearts
            .chart_metric
              canvas#jadedChart(width='400', height='300')
            .card_metric
              canvas#jadedCards(width='400', height='300')
